AI-Support-Alert by Dify .yml
app:
  description: ''
  icon: 📧
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: Support Alert
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.8.4@23aed1fa4d2c8015337bd18efa28b3dccf5b7309a83b1501541fb7358518faec
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1781019368885-source-1781020576644-target
      selected: false
      source: '1781019368885'
      sourceHandle: source
      target: '1781020576644'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: trigger-plugin
        targetType: code
      id: 1781015021586-source-1781478842868-target
      selected: false
      source: '1781015021586'
      sourceHandle: source
      target: '1781478842868'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1781478842868-source-1781019368885-target
      selected: false
      source: '1781478842868'
      sourceHandle: source
      target: '1781019368885'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1781020576644-true-17814804431590-target
      source: '1781020576644'
      sourceHandle: 'true'
      target: '17814804431590'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 17814804431590-source-1781023305557-target
      source: '17814804431590'
      sourceHandle: source
      target: '1781023305557'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1781023305557-source-1781481003831-target
      source: '1781023305557'
      sourceHandle: source
      target: '1781481003831'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1781020576644-false-1781481924819-target
      source: '1781020576644'
      sourceHandle: 'false'
      target: '1781481924819'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: 1781481003831-source-1781482310456-target
      source: '1781481003831'
      sourceHandle: source
      target: '1781482310456'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: 1781481924819-source-1781482566276-target
      source: '1781481924819'
      sourceHandle: source
      target: '1781482566276'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        config: {}
        desc: Emits newly added messages (e.g., new incoming mail) since last checkpoint.
        event_description: Emits newly added messages (e.g., new incoming mail) since
          last checkpoint.
        event_label: Gmail Message Added
        event_name: gmail_message_added
        event_parameters: {}
        is_team_authorization: false
        meta:
          version: '1.0'
        output_schema:
          properties:
            history_id:
              type: string
            messages:
              items:
                properties:
                  attachments:
                    items:
                      properties:
                        attachmentId:
                          type:
                          - string
                          - 'null'
                        file_source:
                          enum:
                          - dify_storage
                          - gmail
                          type: string
                        file_url:
                          type:
                          - string
                          - 'null'
                        filename:
                          type: string
                        mimeType:
                          type: string
                        original_url:
                          type:
                          - string
                          - 'null'
                        size:
                          type:
                          - integer
                          - 'null'
                        upload_file_id:
                          type:
                          - string
                          - 'null'
                      type: object
                    type: array
                  has_attachments:
                    type: boolean
                  headers:
                    properties:
                      Date:
                        type: string
                      From:
                        type: string
                      Message-Id:
                        type: string
                      Subject:
                        type: string
                      To:
                        type: string
                    type: object
                  id:
                    type: string
                  internalDate:
                    type: string
                  labelIds:
                    items:
                      type: string
                    type: array
                  sizeEstimate:
                    type: integer
                  snippet:
                    type: string
                  threadId:
                    type: string
                type: object
              type: array
          type: object
        parameters_schema: []
        plugin_id: langgenius/gmail_trigger
        plugin_unique_identifier: langgenius/gmail_trigger:0.0.7@ccdd3649940533b1356d94576aad79d86e0393d9efd148b6d43291dc10c09697
        provider_id: langgenius/gmail_trigger/gmail_trigger
        provider_name: langgenius/gmail_trigger/gmail_trigger
        provider_type: trigger
        selected: false
        subscription_id: ''
        title: Gmail Trigger
        type: trigger-plugin
      height: 129
      id: '1781015021586'
      position:
        x: -540.2136726680495
        y: 448.16837110866663
      positionAbsolute:
        x: -540.2136726680495
        y: 448.16837110866663
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gemini-3.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 2e1a7389-c91e-410e-b2fb-3deadc6f9b0e
          role: system
          text: "Ты анализируешь письма, поступающие на адрес поддержки игры:\nword.spells.support@malpagames.com\n\
            Письма игроков могут быть написаны на любом языке.\nОпредели наличие проблемы\
            \ независимо от языка сообщения.\nПисьма могут содержать служебный шаблон\
            \ с технической информацией об устройстве пользователя.\n\nПример шаблона:\n\
            \n---------------------------------\nDo not delete the important information\
            \ below.\n\nPlatform_Version: ...\nModel: ...\nDevice_ID: ...\nScreen:\
            \ ...\nDPI: ...\nApp_Language: ...\nApp_Version: ...\nCloud: ...\nLevel:\
            \ ...\nMeta: ...\n\n<зашифрованная строка>\n\nПравила анализа:\n\n1. Служебный\
            \ шаблон сам по себе НЕ является описанием проблемы.\n\n2. Если письмо\
            \ содержит только служебный шаблон и не содержит никакого дополнительного\
            \ текста пользователя:\n   - считать информацию недостаточной;\n   - пометить\
            \ письмо как не содержащее описания проблемы.\n\n3. Если пользователь\
            \ описал проблему в теме письма, учитывать тему как источник информации.\n\
            \n4. Если пользователь не использовал шаблон, но написал текст проблемы\
            \ в свободной форме, учитывать это обращение.\n\n5. Пользователи часто\
            \ пишут описание проблемы сразу после служебных значений или после символа\
            \ \"=\".\n   Такие комментарии обязательно учитывать как текст обращения.\n\
            \nПримеры:\n\nPlatform_Version: Android 16\nModel: Samsung\nLevel: 1200\n\
            Не могу пройти уровень после обновления\n\n→ проблема указана\n\nили\n\
            \nLevel: 1200 = После покупки не начислились монеты\n\n→ проблема указана\n\
            \nили\n\nТема письма:\nИгра зависает на загрузке\n\nТело письма содержит\
            \ только шаблон\n\n→ информации достаточно, проблема описана в теме.\n\
            \n6. Не учитывать содержимое поля Meta как описание проблемы.\n   Это\
            \ технические зашифрованные данные игрока.\n\n7. Игнорировать Device_ID\
            \ и Meta при анализе содержательности обращения.\n\nВерни только JSON:\n\
            \n{\n  \"enough_information\": true,\n  \"problem_found\": true,\n  \"\
            problem_text\": \"краткое описание найденной проблемы\",\n  \"missing_fields\"\
            : [],\n  \"reason\": \"краткое объяснение\"\n}\n\nили\n\n{\n  \"enough_information\"\
            : false,\n  \"problem_found\": false,\n  \"problem_text\": \"\",\n  \"\
            missing_fields\": [\"описание проблемы\"],\n  \"reason\": \"письмо содержит\
            \ только технический шаблон\"\n}"
        - id: f3de0675-c35c-49eb-8c09-8a9296e9bdd9
          role: user
          text: 'Тема письма:


            {{#1781478842868.email_subject#}}


            Текст письма:


            {{#1781478842868.email_body#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              enough_information:
                type: boolean
              missing_fields:
                items:
                  type: string
                type: array
              problem_found:
                type: boolean
              problem_text:
                description: ''
                type: string
              reason:
                type: string
            required: []
            type: object
        structured_output_enabled: true
        title: Check Ticket Completness
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1781019368885'
      position:
        x: 90.69097649745032
        y: 440.0200248741645
      positionAbsolute:
        x: 90.69097649745032
        y: 440.0200248741645
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: df714854-c58c-408d-a6e1-75036073ec9c
            value: 'true'
            varType: object
            variable_selector:
            - '1781019368885'
            - structured_output
            - enough_information
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE
        type: if-else
      height: 148
      id: '1781020576644'
      position:
        x: 398.4171954861347
        y: 558.7318473425962
      positionAbsolute:
        x: 398.4171954861347
        y: 558.7318473425962
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gemini-3.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 6a47df63-5b54-43a2-8754-89d0f6a44c22
          role: system
          text: 'Ты анализируешь обращения игроков мобильной игры Word Spells.


            Игрок может писать на любом языке.


            Определи:


            1. Категорию обращения.

            2. Критичность проблемы.

            3. Краткую сводку обращения.

            4. Язык обращения.

            5. Уверенность классификации.

            6. Стабильный ключ похожей проблемы.


            Допустимые категории:


            - Bug

            - Payment

            - Ads

            - Progress Lost

            - Game Balance

            - UI Issues

            - Game Design

            - Incent Traffic

            - Suggestion

            - Other


            Правила категорий:


            Bug:

            Технические ошибки, зависания, вылеты, невозможность играть.


            Payment:

            Покупки, списание денег, отсутствие награды за покупку.


            Ads:

            Проблемы с рекламой.


            Progress Lost:

            Потеря прогресса, уровней, аккаунта или сохранений.


            Game Balance:

            Сложность уровней, баланс наград, экономики игры.


            UI Issues:

            Пропавшие кнопки, иконки, проблемы интерфейса, мелкий текст.


            Game Design:

            Вопросы по механикам игры и правилам.


            Incent Traffic:

            Жалобы на незасчитанное выполнение задания для получения вознаграждения
            через сторонние платформы.


            Suggestion:

            Предложения по улучшению игры.


            Other:

            Любые обращения, не подходящие под категории выше.


            Критичность:


            Critical:

            Проблема полностью блокирует игру, делает игру недоступной, приводит к
            потере прогресса или затрагивает платежи/покупки.


            High:

            Проблема серьёзно мешает игре, но игра частично доступна.


            Medium:

            Проблема мешает, но есть обходной путь или затронута ограниченная часть
            игры.


            Low:

            Косметическая, информационная проблема или предложение без срочного влияния
            на игровой процесс.


            Правила для problem_key:


            problem_key — это короткий стабильный ключ проблемы на английском языке
            в snake_case.

            Он нужен, чтобы группировать похожие обращения.


            problem_key должен описывать не конкретное письмо, а тип проблемы.

            Не включай в problem_key язык игрока, модель устройства, уровень, email,
            дату, имя игрока или уникальные детали.

            Для одинаковых по смыслу проблем возвращай одинаковый problem_key, даже
            если письма написаны на разных языках.


            Примеры:

            - game_freezes_on_loading

            - purchase_reward_missing

            - ads_not_available

            - progress_lost

            - level_too_hard

            - ui_button_missing

            - game_crashes_after_update

            - daily_reward_missing

            - account_login_issue


            Если проблема неясная, используй other_unclear_issue.


            Требования к полям:


            category — одно значение'
        - id: 7169b306-35e6-4545-8a17-ab61dcc4039a
          role: user
          text: 'Проанализируй обращение игрока:


            {{#17814804431590.masked_text#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              category:
                type: string
              confidence:
                type: number
              player_language:
                type: string
              problem_key:
                type: string
              severity:
                type: string
              summary:
                type: string
            required: []
            type: object
        structured_output_enabled: true
        title: Classify Ticket
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1781023305557'
      position:
        x: 1087.9567243998317
        y: 543.0514617299409
      positionAbsolute:
        x: 1087.9567243998317
        y: 543.0514617299409
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(arg1):\n    messages = arg1\n    if not messages:\n      \
          \  return {\n            \"gmail_message_id\": \"\",\n            \"gmail_thread_id\"\
          : \"\",\n            \"email_date\": \"\",\n            \"email_from\":\
          \ \"\",\n            \"email_to\": \"\",\n            \"email_subject\"\
          : \"\",\n            \"email_body\": \"\",\n            \"raw_snippet\"\
          : \"\"\n        }\n\n    message = messages[0]\n    headers = message.get(\"\
          headers\") or {}\n\n    subject = headers.get(\"Subject\") or \"\"\n   \
          \ sender = headers.get(\"From\") or \"\"\n    recipient = headers.get(\"\
          To\") or \"\"\n    date = headers.get(\"Date\") or \"\"\n\n    snippet =\
          \ message.get(\"snippet\") or \"\"\n\n    return {\n        \"gmail_message_id\"\
          : message.get(\"id\") or \"\",\n        \"gmail_thread_id\": message.get(\"\
          threadId\") or \"\",\n        \"email_date\": date,\n        \"email_from\"\
          : sender,\n        \"email_to\": recipient,\n        \"email_subject\":\
          \ subject,\n        \"email_body\": snippet,\n        \"raw_snippet\": snippet\n\
          \    }"
        code_language: python3
        outputs:
          email_body:
            children: null
            type: string
          email_date:
            children: null
            type: string
          email_from:
            children: null
            type: string
          email_subject:
            children: null
            type: string
          email_to:
            children: null
            type: string
          gmail_message_id:
            children: null
            type: string
          gmail_thread_id:
            children: null
            type: string
          raw_snippet:
            children: null
            type: string
        selected: false
        title: Extract Email Data
        type: code
        variables:
        - value_selector:
          - '1781015021586'
          - messages
          value_type: array[object]
          variable: arg1
      height: 52
      id: '1781478842868'
      position:
        x: -223.70733652846877
        y: 588.5101840035552
      positionAbsolute:
        x: -223.70733652846877
        y: 588.5101840035552
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\n\ndef main(arg1: str):\n\n    text = arg1\n\n    # Email\n\
          \    text = re.sub(\n        r'[\\w\\.-]+@[\\w\\.-]+\\.\\w+',\n        '[EMAIL_MASKED]',\n\
          \        text\n    )\n\n    # Device_ID\n    text = re.sub(\n        r'(Device_ID:\\\
          s*)(.*)',\n        r'\\1[DEVICE_ID_MASKED]',\n        text\n    )\n\n  \
          \  # Meta block\n    text = re.sub(\n        r'(Meta:\\s*)([\\s\\S]+)',\n\
          \        r'\\1[META_MASKED]',\n        text\n    )\n\n    return {\n   \
          \     \"masked_text\": text\n    }"
        code_language: python3
        desc: ''
        isInIteration: false
        isInLoop: false
        outputs:
          masked_text:
            children: null
            type: string
        selected: false
        title: Data masking
        type: code
        variables:
        - value_selector:
          - '1781478842868'
          - email_body
          value_type: string
          variable: arg1
      height: 52
      id: '17814804431590'
      position:
        x: 747.6656568535072
        y: 456.6532418890372
      positionAbsolute:
        x: 747.6656568535072
        y: 456.6532418890372
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-64
            key: ''
            type: text
            value: "{\n  \"gmail_message_id\": \"{{{#1781478842868.gmail_message_id#}}}\"\
              ,\n  \"gmail_thread_id\": \"{{{#1781478842868.gmail_thread_id#}}}\"\
              ,\n  \"email_date\": \"{{{#1781478842868.email_date#}}}\",\n  \"email_from\"\
              : \"{{{#1781478842868.email_from#}}}\",\n  \"email_to\": \"{{{#1781478842868.email_to#}}}\"\
              ,\n  \"email_subject\": \"{{{#1781478842868.email_subject#}}}\",\n \
              \ \"raw_snippet\": \"{{{#1781478842868.raw_snippet#}}}\",\n  \"enough_information\"\
              : true,\n  \"problem_found\": true,\n  \"category\": \"{{{#1781023305557.structured_output.category#}}}\"\
              ,\n  \"severity\": \"{{{#1781023305557.structured_output.severity#}}}\"\
              ,\n  \"summary\": \"{{{#1781023305557.structured_output.summary#}}}\"\
              ,\n  \"player_language\": \"{{{#1781023305557.structured_output.player_language#}}}\"\
              ,\n  \"confidence\": \"{{{#1781023305557.structured_output.confidence#}}}\"\
              ,\n  \"problem_key\": \"{{{#1781023305557.structured_output.problem_key#}}}\"\
              \n}"
          type: json
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Save Classified Ticket
        type: http-request
        url: https://script.google.com/macros/s/AKfycbzXNW5ezbSJKmN85q2eXZ_iN4oJXH7r7bVkm4WXOm_OV_9n7rkT7GAjghnbFoQ-qeWQ/exec
        variables: []
      height: 187
      id: '1781481003831'
      position:
        x: 1458.9133690054057
        y: 456.6532418890372
      positionAbsolute:
        x: 1458.9133690054057
        y: 456.6532418890372
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-879
            key: ''
            type: text
            value: "{\n  \"gmail_message_id\": \"{{{#1781478842868.gmail_message_id#}}}\"\
              ,\n  \"gmail_thread_id\": \"{{{#1781478842868.gmail_thread_id#}}}\"\
              ,\n  \"email_date\": \"{{{#1781478842868.email_date#}}}\",\n  \"email_from\"\
              : \"{{{#1781478842868.email_from#}}}\",\n  \"email_to\": \"{{{#1781478842868.email_to#}}}\"\
              ,\n  \"email_subject\": \"{{{#1781478842868.email_subject#}}}\",\n \
              \ \"raw_snippet\": \"{{{#1781478842868.raw_snippet#}}}\",\n  \"enough_information\"\
              : false,\n  \"problem_found\": false,\n  \"category\": \"Insufficient\
              \ Information\",\n  \"severity\": \"Low\",\n  \"summary\": \"{{{#1781019368885.structured_output.reason#}}}\"\
              ,\n  \"player_language\": \"\",\n  \"confidence\": \"\",\n  \"problem_key\"\
              : \"insufficient_information\"\n}"
          type: json
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Save Insufficient Ticket
        type: http-request
        url: https://script.google.com/macros/s/AKfycbzXNW5ezbSJKmN85q2eXZ_iN4oJXH7r7bVkm4WXOm_OV_9n7rkT7GAjghnbFoQ-qeWQ/exec
        variables: []
      height: 187
      id: '1781481924819'
      position:
        x: 723.3751275885588
        y: 729.2527895140158
      positionAbsolute:
        x: 723.3751275885588
        y: 729.2527895140158
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1781481003831'
          - body
          value_type: string
          variable: end
        - value_selector:
          - '1781481003831'
          - status_code
          value_type: number
          variable: status
        selected: false
        title: End Success
        type: end
      height: 115
      id: '1781482310456'
      position:
        x: 1788.5922716757163
        y: 456.6532418890372
      positionAbsolute:
        x: 1788.5922716757163
        y: 456.6532418890372
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1781481924819'
          - body
          value_type: string
          variable: end
        - value_selector:
          - '1781481924819'
          - status_code
          value_type: number
          variable: status
        selected: false
        title: End Insufficient
        type: end
      height: 115
      id: '1781482566276'
      position:
        x: 1026.6350486790682
        y: 729.2527895140158
      positionAbsolute:
        x: 1026.6350486790682
        y: 729.2527895140158
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 493.2578356839497
      y: 13.083498090632702
      zoom: 0.6909564202478842
  rag_pipeline_variables: []
